
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><! <html class="no-js"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>NGA博客组</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/blog-index.css">
</head>
<body>

<div class="leftBar1">
    <div class="container1">
        <div class="select">
            <span class="glyphiconCtl glyphicon glyphicon-chevron-left"></span>
            工作
        </div>
        <div class="select">
            <span class="glyphiconCtl glyphicon glyphicon-chevron-left"></span>
            博客
        </div>
        <div class="select">
            <span class="glyphiconCtl glyphicon glyphicon-chevron-left"></span>
            页面
        </div>
        <div class="select">
            联系
        </div>

    </div>
    <div class="leftBar1Bottom">
        <div class="searchDiv">

        </div>
        <div class="info">
                <strong>NGA博客组</strong><br>
                007 street<br>
                PresencePolymorph<br>@gmail.com<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
        </div>
    </div>
</div>
<header >
    <img src="../images/logo.jpg" class="logoIMG">
        <div id="menu">
            <div class="menuBar" id="menuBar1"></div>
            <div class="menuBar" id="menuBar2"></div>
            <div class="menuBar" id="menuBar3"></div>
        </div>
    <div class="leftBarFilter">
    </div>
</header>
<nav>
{{{body}}}
</nav>









<script src="../vendor/jquery/dist/jquery.min.js"></script>
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/angular-route/angular-route.js"></script>
<script src="../vendor/ng-table/ng-table.min.js"></script>
<script src="../javascript/index.js"></script>
<script src="../javascript/blog-index.js"></script>


{{{_sections.rs-js}}}
</body>
</html>


