
<div class="pox">
    <div class="box"><img src="images/time1.jpeg" alt="">
        <div class="detaile">
            <h1>Arno<span class="glyphicon glyphicon-star"></span></h1>
            <p>when you are a children,who is your firends?</p>
            <span><i class="fa fa-heart fa-2x" aria-hidden="true"></i><strong>0 Likes&nbsp;</strong></span>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="images/time2.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
            <span> <strong>0 Likes&nbsp;</strong></span>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="images/time3.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
            <span><i class="fa fa-heart fa-2x" aria-hidden="true"></i><strong>0 Likes&nbsp;</strong></span>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="images/time4.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
            <span><i class="fa fa-heart fa-2x" aria-hidden="true"></i><strong>0 Likes&nbsp;</strong></span>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="images/time5.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
            <span><i class="fa fa-heart fa-2x" aria-hidden="true"></i><strong>0 Likes&nbsp;</strong></span>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
</div>