<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vendor/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome-webfont.ttf">
    <link rel="stylesheet" href="../stylesheets/blog-index.css">
    <script src="../javascript/blog-index.js"></script>
</head>
<body>
<div class="main">
    <div class="box">
        <img src="../images/time1.jpeg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="../images/time5.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="../images/time3.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="../images/time2.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
    <div class="box"><img src="../images/time4.jpg" alt="">
        <div class="detaile">
            <h1>Arno</h1>
            <p>when you are a children,who is your firends?</p>
        </div>
        <div class="box-tip"><h1>FinalArno</h1></div>
    </div>
</div>
</body>
</html>